.privacypolicy{
    float: left;
    width: 100%;  
}

.pp{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 5.3px 2px cadetblue;
    background-color: #e6f3ff;
    font-size: 80px;
    margin: auto;
    padding: 130px;
    height: 55px;
}
.policy{
    float: left;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 10%;
    margin-top: 5%;
    font-family: cursive;
    text-align: justify;
    font-size: 17px;
}

.policy p {
    padding-top: 5px;
}

.policy li{
    padding: 5px;
}

